<section
  class="text-left py-20 border-b border-gray-200 dark:border-foreground dark:bg-background"
>
  <div class="container mx-auto">
    <h1
      class="text-4xl lg:text-5xl font-semibold mb-4 dark:text-gray-100"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      Flexible Pricing Plan
    </h1>
    <p
      class="font-normal text-gray-500 text-base dark:text-gray-400 mb-10"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      Choose a plan that works best for you and your team
    </p>
    <div class="grid grid-cols-3 gap-5 mb-10 items-center">
      <div
        class="col-span-3 lg:col-span-1 group"
        data-aos="fade-up"
        data-aos-duration="800"
      >
        <div
          class="border border-blue-50 dark:border-foreground rounded-xl p-5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mb-5"
            viewBox="0 0 20 20"
            fill="#B2DDFF"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            />
          </svg>
          <div
            class="text-4xl font-semibold text-left text-gray-700 dark:text-gray-100 mb-4"
          >
            Basic
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited number of listings.
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited availability of listings.
            </div>
          </div>
          <div class="flex items-center mb-7">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Limited Support
            </div>
          </div>
          <div class="text-3xl font-semibold text-left mb-6">
            $40 <span class="text-sm font-normal">/month</span>
          </div>

          <button
            type="button"
            class="rounded bg-blue-50 group-hover:bg-blue-500 group-hover:text-white px-4 py-3 w-full text-blue-500 hover:bg-blue-500 hover:text-white dark:bg-foreground"
          >
            Get Started
          </button>
        </div>
      </div>
      <div
        class="col-span-3 lg:col-span-1 group"
        data-aos="fade-up"
        data-aos-duration="800"
      >
        <div
          class="border border-blue-100 dark:border-foreground shadow rounded-xl p-5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mb-5"
            viewBox="0 0 20 20"
            fill="#B2DDFF"
          >
            <path
              d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"
            />
          </svg>
          <div
            class="text-4xl font-semibold text-left text-gray-700 dark:text-gray-100 mb-4"
          >
            Basic
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited number of listings.
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited availability of listings.
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Limited Support
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              One Listing.
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              24/7 Support
            </div>
          </div>
          <div class="flex items-center mb-16">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              90 Days Active
            </div>
          </div>
          <div
            class="text-3xl font-semibold text-left mb-6 text-gray-700 dark:text-gray-400"
          >
            $150 <span class="text-sm font-normal">/month</span>
          </div>

          <button
            type="button"
            class="rounded bg-blue-500 group-hover:bg-blue-500 group-hover:text-white px-4 py-3 w-full text-white"
          >
            Get Started
          </button>
        </div>
      </div>
      <div
        class="col-span-3 lg:col-span-1 group"
        data-aos="fade-up"
        data-aos-duration="800"
      >
        <div
          class="border border-blue-50 dark:border-foreground rounded-xl p-5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mb-5"
            viewBox="0 0 20 20"
            fill="#B2DDFF"
          >
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
            />
          </svg>
          <div
            class="text-4xl font-semibold text-left text-gray-700 dark:text-gray-100 mb-4"
          >
            Extended
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited number of listings.
            </div>
          </div>
          <div class="flex items-center mb-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Unlimited availability of listings.
            </div>
          </div>
          <div class="flex items-center mb-7">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2 text-blue-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <div class="text-base font-normal text-gray-700 dark:text-gray-400">
              Lifetime Active
            </div>
          </div>
          <div
            class="text-3xl font-semibold text-left mb-6 text-gray-700 dark:text-gray-400"
          >
            $250 <span class="text-sm font-normal">/month</span>
          </div>

          <button
            type="button"
            class="rounded bg-blue-50 group-hover:bg-blue-500 group-hover:text-white hover:bg-blue-500 hover:text-white dark:bg-foreground px-4 py-3 w-full text-blue-500"
          >
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
