<section
  class="py-20 border-b border-gray-200 dark:border-foreground dark:bg-background"
>
  <div class="container mx-auto lg:p-0 p-5">
    <div
      class="flex lg:flex-row flex-col lg:text-left text-center flex-wrap items-center justify-between mb-12"
    >
      <div>
        <h1
          class="text-2xl lg:text-3xl font-medium capitalize mb-2 dark:text-gray-100"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          Our Blogs
        </h1>
        <h6
          class="text-sm lg:text-base dark:text-gray-400 text-gray-500 font-normal"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          A selection of listing verified for quality
        </h6>
      </div>
      <div data-aos="fade-up" data-aos-duration="800">
        <a
          href="/blog-list-page.html"
          type="button"
          class="text-gray-500 dark:text-gray-400 hover:text-blue-500 flex items-center"
        >
          Explore More
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 ml-3"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </a>
      </div>
    </div>
    <!-- Slider main container -->
    <div class="relative">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper relative h-full">
          <!-- Slides -->
          <div
            class="swiper-slide my-4 overflow-hidden rounded-lg"
            data-aos="fade-up"
          >
            <a
              href="/blog-details-page.html"
              class="relative group overflow-hidden rounded-lg"
            >
              <img
                class="w-full h-96 object-cover rounded-lg group-hover:scale-105 transition-all"
                src="img/Image/landing-page-image/house.jpg"
                alt=""
              />
              <div
                class="absolute bottom-0 top-1/2 flex items-start flex-col justify-end left-0 pb-5 pl-5 rounded-b-lg pt-2 card-linear-gradient w-full"
              >
                <div class="text-sm font-medium text-white mb-4">
                  22 Feb, 2022
                </div>
                <h5 class="text-2xl font-semibold mb-4 text-white">
                  #1 Sell Your House Today
                </h5>
                <p class="text-sm font-normal text-gray-100">
                  Nation yet I century way of the into he gone day time. And
                  installer Explore some of the best tips from around the world
                  from our partners.
                </p>
              </div>
            </a>
          </div>
          <div
            class="swiper-slide my-4 overflow-hidden rounded-lg"
            data-aos="fade-up"
          >
            <a href="/blog-details-page.html" class="relative group">
              <img
                class="w-full h-96 object-cover rounded-lg group-hover:scale-105 transition-all"
                src="img/Image/event-landing-page/guitarist.jpg"
                alt=""
              />
              <div
                class="absolute bottom-0 top-1/2 flex flex-col justify-end left-0 pb-5 px-5 rounded-b-lg pt-2 card-linear-gradient w-full"
              >
                <div class="text-sm font-medium text-white mb-4">
                  22 Feb, 2022
                </div>
                <h5 class="text-2xl font-semibold mb-4 text-white">
                  Musical Event in New York
                </h5>
                <p class="text-sm font-normal text-gray-100">
                  Nation yet I century way of the into he gone day time. And
                  installer Explore some of the best tips from around the world
                  from our partners.
                </p>
              </div>
            </a>
          </div>
          <div
            class="swiper-slide my-4 overflow-hidden rounded-lg"
            data-aos="fade-up"
          >
            <a href="/blog-details-page.html" class="relative group">
              <img
                class="w-full h-96 object-cover rounded-lg transition-all group-hover:scale-105"
                src="img/Image/landing-page-image/dish.jpg"
                alt=""
              />
              <div
                class="absolute bottom-0 top-1/2 flex flex-col justify-end left-0 pb-5 px-5 rounded-b-lg pt-2 card-linear-gradient w-full"
              >
                <div class="text-sm font-medium text-white mb-4">
                  22 Feb, 2022
                </div>
                <h5 class="text-2xl font-semibold mb-4 text-white">
                  Discover food get 20% off
                </h5>
                <p class="text-sm font-normal text-gray-100">
                  Nation yet I century way of the into he gone day time. And
                  installer Explore some of the best tips from around the world
                  from our partners.
                </p>
              </div>
            </a>
          </div>
          <div
            class="swiper-slide my-4 overflow-hidden rounded-lg"
            data-aos="fade-up"
          >
            <a href="/blog-details-page.html" class="relative group">
              <img
                class="w-full h-96 object-cover rounded-lg group-hover:scale-105 transition-all"
                src="img/Image/event-landing-page/guitarist.jpg"
                alt=""
              />
              <div
                class="absolute bottom-0 top-1/2 flex flex-col justify-end left-0 pb-5 px-5 rounded-b-lg pt-2 card-linear-gradient w-full"
              >
                <div class="text-sm font-medium text-white mb-4">
                  22 Feb, 2022
                </div>
                <h5 class="text-2xl font-semibold mb-4 text-white">
                  Musical Event in New York
                </h5>
                <p class="text-sm font-normal text-gray-100">
                  Nation yet I century way of the into he gone day time. And
                  installer Explore some of the best tips from around the world
                  from our partners.
                </p>
              </div>
            </a>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev left-2 lg:-left-3 after:hidden">
        <button
          type="button"
          class="bg-white dark:bg-foreground text-blue-500 rounded-full p-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 19l-7-7m0 0l7-7m-7 7h18"
            />
          </svg>
        </button>
      </div>
      <div class="swiper-button-next absolute right-2 lg:-right-3 after:hidden">
        <button
          type="button"
          class="bg-white dark:bg-foreground text-blue-500 rounded-full p-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="relative w-24 mx-auto mt-10"></div>
  </div>
</section>
