<section
  class="py-20 border-b border-gray-200 dark:border-foreground dark:bg-background px-5"
>
  <div class="container mx-auto">
    <div
      class="grid lg:grid-cols-5 grid-cols-2 gap-7 items-center justify-center"
    >
      <img
        class="max-w-full text-center flex-1"
        data-aos="fade-up"
        data-aos-duration="800"
        src="img/company/airbnb.png"
        alt=""
      />
      <img
        class="max-w-full text-center flex-1"
        data-aos="fade-up"
        data-aos-duration="800"
        src="img/company/zillow.png"
        alt=""
      />
      <img
        class="max-w-full text-center flex-1"
        data-aos="fade-up"
        data-aos-duration="800"
        src="img/company/trulia.png"
        alt=""
      />
      <img
        class="max-w-full text-center flex-1"
        data-aos="fade-up"
        data-aos-duration="800"
        src="img/company/realtor.png"
        alt=""
      />
      <img
        class="max-w-full text-center flex-1"
        data-aos="fade-up"
        data-aos-duration="800"
        src="img/company/home-finder.png"
        alt=""
      />
    </div>
  </div>
</section>
