<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta name="description" content="Dashboard" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="UI Lib" />
    <!-- favicon start  -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/img/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- favicon end  -->
    @include('./dashboard/head.html', { "title": "Add Listing" })
  </head>

  <body>
    @include('./components/preloader.html')
    @include('./dashboard/sidebar.html',{"page": "add-listing" })
    @include('./dashboard/header.html')
    <!-- strat wrapper -->
    <div
      class="dark:bg-background lg:ml-64 ml-0 mt-20 min-h-[calc(100vh-80px)] p-7"
    >
      @include('./inner-pages/dashboard/add-listing.html')
    </div>
    @include('./dashboard/footer.html')

    <!-- all script must be thr  -->

    @include('./dashboard/script.html')
  </body>
</html>
