<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/plugin-css/swiper-bundle.css"
    />
    <!-- favicon start  -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/img/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- favicon end  -->
    @include('./dashboard/head.html', { "title": "Home Dashboard" })
  </head>

  <body>
    @include('./dashboard/sidebar.html',{"page": "dashboard" })
    @include('./dashboard/header.html')
    <!-- strat wrapper -->
    <div
      class="dark:bg-background lg:ml-64 ml-0 mt-20 min-h-[calc(100vh-80px)] p-7"
    >
      @include('./inner-pages/dashboard/home.html')
    </div>
    @include('./dashboard/footer.html')
    <script src="js/plugins-core/apexcharts.js"></script>
    <script src="js/plugins-script/apexchart.js"></script>
    @include('./dashboard/script.html')
  </body>
</html>
