<!--
File: intro-hero.html
Project: multipurpose-listing-and-directory-template
File Created: Wednesday, 28th September 2022 2:54:14 pm
Author: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com)
-----
Last Modified: Wednesday, 28th September 2022 5:44:22 pm
Modified By: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com>)
-----
Copyright 2019 - 2022 ui-lib  , ui-lib  ( https://ui-lib.com/ )
-->

@include("../mobile-menu.html")

<header
  class="bg-[#F7F7F7] relative dark:bg-background dark:text-gray-100 sticky-header-first-content"
>
  @include("../../Layouts/shared/intro-navbar.html")
  <img class="absolute left-0 top-0" src="img/header-left.png" alt="" />
  <img
    class="absolute right-0 lg:block hidden top-0"
    src="img/header-right.png"
    alt=""
  />
  <div class="container mx-auto pt-32 lg:px-0 px-5 lg:pt-20 text-center pb-20">
    <h6
      class="text-blue-500 font-semibold text-2xl"
      data-aos="fade-up"
      data-aos-duration="400"
    >
      HTML,Tailwind Css & GULP
    </h6>
    <h1
      class="font-bold text-gray-800 dark:text-gray-100 text-5xl mb-4"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      Multipurpose Directory Listing Template
    </h1>
    <p
      class="text-gray-500 dark:text-gray-400 font-medium max-w-[426px] mx-auto mb-7"
      data-aos="fade-up"
      data-aos-duration="900"
    >
      Build your Directory Listing website in minutes with the help of countless
      amazing features of Accomu
    </p>
    <div
      class="flex justify-center"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <a
        href="landing-page-1.html"
        target="_blank"
        class="inline-flex mr-4 items-center shadow-front-1 px-3 py-2 border border-blue-500 text-white rounded-full bg-blue-500"
      >
        View Demos
      </a>
      <button
        type="button"
        class="inline-flex dark:text-gray-400 font-semibold items-center shadow-front-1 px-3 py-2 border border-gray-300 text-gray-800 rounded-full"
      >
        Purchase Now
      </button>
    </div>
  </div>
  <img
    class="w-full container mx-auto"
    src="img/intro-header.png"
    data-aos="fade-up"
    data-aos-duration="1500"
    alt=""
  />
</header>
