<section class="container mx-auto">
  <h2
    class="text-4xl text-gray-800 dark:text-gray-100 font-bold max-w-[700px] mx-auto text-center mb-12"
    data-aos="fade-up"
  >
    Save time by choosing

    <a href="#" class="text-blue-500 border-b border-blue-500">
      Bazar Templates</a
    >
    for your E-commerce Website.
  </h2>
  <div
    class="grid lg:grid-cols-2 grid-cols-1 gap-7 items-center"
    data-aos="fade-up"
  >
    <div>
      <div class="flex items-start mb-8">
        <div
          class="bg-blue-100 mr-4 flex items-center justify-center w-12 h-12 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 text-blue-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div>
          <h5 class="capitalize text-xl font-bold mb-4 dark:text-gray-100">
            Color & font options
          </h5>
          <p class="text-gray-500 dark:text-gray-400 font-medium">
            You can either use the included color and fonts or easily add your
            own choices.
          </p>
        </div>
      </div>
      <div class="flex items-start mb-8">
        <div
          class="bg-blue-100 mr-4 flex items-center justify-center w-12 h-12 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 text-blue-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div>
          <h5 class="capitalize text-xl font-bold mb-4 dark:text-gray-100">
            Fully Responsive Layout
          </h5>
          <p class="text-gray-500 dark:text-gray-400 font-medium">
            Bazar adapts to different screen sizes therefore it is compatible
            with any device.
          </p>
        </div>
      </div>
      <div class="flex items-start mb-8">
        <div
          class="bg-blue-100 mr-4 flex items-center justify-center w-12 h-12 rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 text-blue-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div>
          <h5 class="capitalize text-xl font-bold mb-4 dark:text-gray-100">
            Cool Features & Elements
          </h5>
          <p class="text-gray-500 dark:text-gray-400 font-medium">
            Bazar includes amazing features and elements to create rich and
            attractive pages.
          </p>
        </div>
      </div>
    </div>
    <div>
      <img class="max-w-full" src="img/choose.png" alt="" />
    </div>
  </div>
</section>
