<section class="container mx-auto">
  <h2
    class="text-4xl text-gray-800 dark:text-gray-100 font-bold max-w-[700px] mx-auto text-center mb-2 aos-init aos-animate"
    data-aos="fade-up"
  >
    Why you choose this template?
  </h2>
  <p
    class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12 aos-init aos-animate"
    data-aos="fade-up"
  >
    Pay once, use forever in unlimited projects. Free updates for life.
  </p>
  <img
    data-aos="fade-up"
    class="w-full mx-auto mb-12"
    src="img/choose-us.png"
    alt=""
  />
  <div class="flex items-center justify-center">
    <button
      type="button"
      class="inline-flex mr-5 mb-5 dark:text-gray-400 capitalize font-semibold items-center shadow-front-1 px-5 py-2 border border-gray-300 text-gray-800 rounded-full"
    >
      Figma Download
    </button>
    <button
      type="button"
      class="inline-flex mr-5 mb-5 items-center shadow-front-1 px-3 py-2 border border-blue-500 text-white rounded-full bg-blue-500"
    >
      Purchase Now
    </button>
  </div>
</section>
