<section
  class="my-28"
  style="background: linear-gradient(270deg, #e7ecef 7%, #fff5eb 92%)"
>
  <div class="container mx-auto py-20">
    <div class="grid lg:grid-cols-2 gap-7">
      <div>
        <h2 class="text-4xl font-bold mb-4">Level up your design</h2>
        <p class="text-gray-500 font-normal">
          Bazar template is the largest e-commerce and design system. Kick start
          any project, save thousands of hours, and level up your skills as a
          designer/developer.
        </p>
      </div>
      <div class="flex items-center justify-end">
        <button
          type="button"
          class="inline-flex mr-5 mb-5 dark:text-gray-400 capitalize font-semibold items-center shadow-front-1 px-5 py-2 border border-gray-300 text-gray-800 rounded-full"
        >
          Figma Download
        </button>
        <button
          type="button"
          class="inline-flex mr-5 mb-5 items-center shadow-front-1 px-3 py-2 border border-blue-500 text-white rounded-full bg-blue-500"
        >
          Purchase Now
        </button>
      </div>
    </div>
  </div>
</section>
