<section class="bg-[#F6F8F9] dark:bg-foreground py-28">
  <div class="container mx-auto">
    <h6
      class="text-center text-blue-500 font-semibold text-xl"
      data-aos="fade-up"
    >
      Dashboard Pages
    </h6>
    <h2
      class="text-4xl text-gray-800 dark:text-gray-100 font-bold mx-auto text-center mb-2"
      data-aos="fade-up"
    >
      See our latest Dashboard Pages
    </h2>
    <p
      class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12"
      data-aos="fade-up"
    >
      We provide our best design for you.
    </p>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-7 mb-12"
      data-aos="fade-up"
    >
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/vendor-dashboard.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Vendor Dashboard
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/customer-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Customer List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/dashboard-order-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Order List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/dashboard-product-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/dashboard-seller-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Seller List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/payouts.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">Payouts</h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/earning-history.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Earning History
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/package-payments.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Package Payments
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/payout-request.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Payout Requests
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-add-page.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Add Order
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-add.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Add
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-categories.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Categories
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-reviews.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Reviews
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/refund-requests.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Refund Requests
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/dashboard-refund-settings.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Refund Settings
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/dashboard-seller-packages.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Seller Packages
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
