<section class="bg-[#F6F8F9] dark:bg-foreground mx-auto pb-28">
  <div class="container mx-auto">
    <h6
      class="text-center text-blue-500 font-semibold text-xl"
      data-aos="fade-up"
    >
      Figma Components
    </h6>
    <h2
      class="text-4xl text-gray-800 dark:text-gray-100 font-bold mx-auto text-center mb-2"
      data-aos="fade-up"
    >
      Dashboard Components
    </h2>
    <p
      class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12"
      data-aos="fade-up"
    >
      Header, Products, Services all of the sections you need for ecommerce
      product and websites
    </p>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-7 mb-12"
      data-aos="fade-up"
    >
      <div
        class="bg-[#F6F8F9] dark:bg-foreground shadow-front-2 dark:shadow-front-2-dark rounded-md"
      >
        <img class="w-full" src="img/component/chart.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Chart Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            20 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/total.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Total Card
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            4 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/table.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Table Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            8 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/product-list.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product List Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            2 Styles + 10 Variants
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/account.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Account Styles
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            1 Styles + 3 Variants
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/settings.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Settings Styles
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            1 Styles + 6 Variants
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/payment-form.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Payment form style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            1 Style
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/tracking.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Tracking style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            1 Style
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
