<section class="bg-[#F6F8F9] dark:bg-foreground pt-28 pb-1">
  <div class="container mx-auto">
    <h6
      class="text-center text-blue-500 font-semibold text-xl"
      data-aos="fade-up"
    >
      Home Pages
    </h6>
    <h2
      class="text-4xl text-gray-800 dark:text-gray-100 font-bold mx-auto text-center mb-2"
      data-aos="fade-up"
    >
      See our latest Home pages
    </h2>
    <p
      class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12"
      data-aos="fade-up"
    >
      We provide our best design for you.
    </p>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-7 mb-12"
      data-aos="fade-up"
    >
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/super-store.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Super Store
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/health-and-beauty.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Health & Beauty
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/Grocery-v1.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Grocery v1
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/grocery-v2.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Grocery v2
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/grocery-v3.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Grocery v3
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/gift-store.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Gift Store
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/furniture-store.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Furniture Store
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/fashion-store.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Fashion Store
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
