<section class="bg-[#F6F8F9] dark:bg-foreground py-28">
  <div class="container mx-auto">
    <h6
      class="text-center text-blue-500 font-semibold text-xl"
      data-aos="fade-up"
    >
      Inner Pages
    </h6>
    <h2
      class="text-4xl text-gray-800 dark:text-gray-100 font-bold mx-auto text-center mb-2"
      data-aos="fade-up"
    >
      See our Inner pages
    </h2>
    <p
      class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12"
      data-aos="fade-up"
    >
      We provide our best design for you.
    </p>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-7 mb-12"
      data-aos="fade-up"
    >
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/vendor-shop.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Vendor Shop
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/shop-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Shop List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/search-results.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Search Results
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/sale-list.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Sale List
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-details.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Details
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/product-cart.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Cart
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/checkout.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Checkout
          </h5>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] dark:bg-foreground rounded-md shadow-front-2 dark:shadow-front-2-dark"
      >
        <img
          class="w-full drop-shadow-image"
          src="img/component/sign-up.png"
          alt=""
        />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">Sign Up</h5>
        </div>
      </div>
    </div>
  </div>
</section>
