<!--
File: key-features.html
Project: multipurpose-listing-and-directory-template
File Created: Wednesday, 28th September 2022 1:23:21 pm
Author: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com)
-----
Last Modified: Wednesday, 28th September 2022 4:33:31 pm
Modified By: Naime Hossain & ui-lib -> https://ui-lib.com/ (support@ui-lib.com>)
-----
Copyright 2019 - 2022 ui-lib  , ui-lib  ( https://ui-lib.com/ )
-->

<section class="container mx-auto text-center pb-28" data-aos="fade-up">
  <h1 class="font-bold text-gray-800 dark:text-gray-100 text-5xl mb-12">
    Key Features
  </h1>
  <div class="grid lg:grid-cols-4 gap-7">
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/magnify.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">SEO Friendly</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img
        class="max-w-full mb-4"
        src="img/svg/server-side-rendering.svg"
        alt=""
      />
      <h6 class="font-bold text-lg dark:text-gray-300">Server Side Rendered</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/i-mac.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">Organized Code</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/clean-code.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">Clean Code</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img
        class="max-w-full mb-4"
        src="img/svg/mobile-optimization.svg"
        alt=""
      />
      <h6 class="font-bold text-lg dark:text-gray-300">Optimized for Mobile</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/thunder.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">Blazing Fast</h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/dashboard.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">
        Admin & Customer Dashboard
      </h6>
    </div>
    <div
      class="hover:shadow-2xl cursor-pointer bg-[#F6F8F9] dark:bg-foreground rounded-md flex flex-col items-center p-12"
    >
      <img class="max-w-full mb-4" src="img/svg/figma.svg" alt="" />
      <h6 class="font-bold text-lg dark:text-gray-300">Figma Ready</h6>
    </div>
  </div>
</section>
