<section class="bg-[#F6F8F9] dark:bg-foreground mx-auto pb-28">
  <div class="container mx-auto">
    <h6
      class="text-center text-blue-500 font-semibold text-xl"
      data-aos="fade-up"
    >
      Figma Components
    </h6>
    <h2
      class="text-4xl text-gray-800 dark:text-gray-100 font-bold mx-auto text-center mb-2"
      data-aos="fade-up"
    >
      Shared Section Components
    </h2>
    <p
      class="text-gray-500 dark:text-gray-300 font-normal text-center mb-12"
      data-aos="fade-up"
    >
      Header, Products all of the sections you need for ecommerce product and
      websites
    </p>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-7 mb-12"
      data-aos="fade-up"
    >
      <div
        class="bg-[#F6F8F9] dark:bg-foreground shadow-front-2 dark:shadow-front-2-dark rounded-md"
      >
        <img class="w-full" src="img/component/header.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Header Design
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            10 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/product-card.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Product Card Design
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            4 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/category.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Category Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            1 Style + 6 Variants
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/cta.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Banner Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            2 Style + 5 Variants
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/testimonial.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Testimonial Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            6 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/hot-deal.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Hot Deal Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            2 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/subscribe.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Subscribe Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            4 Styles
          </p>
        </div>
      </div>
      <div
        class="bg-[#F6F8F9] shadow-front-2 dark:shadow-front-2-dark dark:bg-foreground rounded-md"
      >
        <img class="w-full" src="img/component/footer.png" alt="" />
        <div class="p-5">
          <h5 class="font-semibold text-lg dark:text-gray-100 mb-1">
            Footer Style
          </h5>
          <p class="text-gray-500 dark:text-gray-300 font-medium text-sm">
            2 Styles (Light and Dark)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
