<section
  class="py-20 border-b border-gray-200 dark:border-foreground dark:bg-background"
>
  <div class="container mx-auto lg:p-0 p-5">
    <div class="flex justify-between items-center flex-wrap mb-12">
      <div class="flex-1">
        <h1
          class="text-2xl lg:text-3xl font-medium capitalize dark:text-gray-100 mb-2"
          data-aos="fade-up"
          data-aos-duration="800"
        >
          Clients Says About Us
        </h1>
        <h6
          class="text-sm lg:text-base text-gray-500 dark:text-gray-400 font-normal"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          A selection of listing verified for quality
        </h6>
      </div>
      <div
        class="relative w-[100px] flex-no-shrink"
        data-aos="fade-up"
        data-aos-duration="800"
      >
        <div class="swiper-button-prev after:hidden">
          <button
            type="button"
            class="text-gray-400 hover:border-none bg-white shadow-small-content-1 hover:bg-white hover:text-blue-500 rounded-full p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18"
              />
            </svg>
          </button>
        </div>
        <div class="swiper-button-next after:hidden">
          <button
            type="button"
            class="text-gray-400 bg-white shadow-small-content-1 hover:border-none hover:bg-white hover:text-blue-500 rounded-full p-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 5l7 7m0 0l-7 7m7-7H3"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- Slider main container -->
    <div class="relative">
      <div class="swiper swiper-center-zoom">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper relative h-full">
          <!-- Slides -->
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="bg-gray-50 dark:bg-foreground rounded-lg p-5 relative overflow-hidden"
            >
              <div
                class="w-20 h-20 rounded-full dark:bg-background bg-gray-100 absolute -right-4 -top-4"
              ></div>
              <div class="flex items-center mb-9">
                <img
                  class="w-16 h-16 border-2 border-white rounded-lg mr-6"
                  src="img/faces/10.jpg"
                  alt=""
                />
                <div>
                  <h5
                    class="text-sm text-gray-700 dark:text-gray-100 font-medium mb-1"
                  >
                    Gage Paquette
                  </h5>
                  <p class="text-sm text-gray-500 dark:text-gray-400">
                    Australia
                  </p>
                </div>
              </div>
              <p
                class="text-sm text-gray-500 dark:text-gray-500 leading-[24px]"
              >
                Nation yet I century way of the into he gone day time. And
                installer. To pity the left didn't doubting as for
                recommendation up omens, the place were coffee shut for the on
                anyone but it noise not has eye.
              </p>
              <div class="flex justify-end mt-5">
                <svg
                  class="text-gray-100 dark:text-background"
                  width="54"
                  height="41"
                  viewBox="0 0 54 41"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29.992 10.432C29.992 7.28067 31.0243 4.78134 33.089 2.934C35.1537 0.977999 37.7617 0 40.913 0C44.7163 0 47.8133 1.24967 50.204 3.749C52.7033 6.24833 53.953 9.83433 53.953 14.507C53.953 19.5057 52.486 24.45 49.552 29.34C46.7267 34.1213 42.706 37.9247 37.49 40.75L33.741 35.045C36.5663 33.089 38.794 30.9157 40.424 28.525C42.1627 26.1343 43.3037 23.3633 43.847 20.212C42.869 20.6467 41.728 20.864 40.424 20.864C37.3813 20.864 34.882 19.886 32.926 17.93C30.97 15.974 29.992 13.4747 29.992 10.432ZM0 10.432C0 7.28067 1.03233 4.78134 3.097 2.934C5.16167 0.977999 7.76967 0 10.921 0C14.7243 0 17.8213 1.24967 20.212 3.749C22.7113 6.24833 23.961 9.83433 23.961 14.507C23.961 19.5057 22.494 24.45 19.56 29.34C16.7347 34.1213 12.714 37.9247 7.498 40.75L3.749 35.045C6.57433 33.089 8.802 30.9157 10.432 28.525C12.1707 26.1343 13.3117 23.3633 13.855 20.212C12.877 20.6467 11.736 20.864 10.432 20.864C7.38933 20.864 4.89 19.886 2.934 17.93C0.978 15.974 0 13.4747 0 10.432Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="bg-gray-50 dark:bg-foreground rounded-lg p-5 relative overflow-hidden"
            >
              <div
                class="w-20 h-20 rounded-full dark:bg-background bg-gray-100 absolute -right-4 -top-4"
              ></div>
              <div class="flex items-center mb-9">
                <img
                  class="w-16 h-16 border-2 border-white rounded-lg mr-6"
                  src="img/faces/10.jpg"
                  alt=""
                />
                <div>
                  <h5
                    class="text-sm text-gray-700 dark:text-gray-100 font-medium mb-1"
                  >
                    Gage Paquette
                  </h5>
                  <p class="text-sm text-gray-500 dark:text-gray-400">
                    Australia
                  </p>
                </div>
              </div>
              <p
                class="text-sm text-gray-500 dark:text-gray-500 leading-[24px]"
              >
                Nation yet I century way of the into he gone day time. And
                installer. To pity the left didn't doubting as for
                recommendation up omens, the place were coffee shut for the on
                anyone but it noise not has eye.
              </p>
              <div class="flex justify-end mt-5">
                <svg
                  class="text-gray-100 dark:text-background"
                  width="54"
                  height="41"
                  viewBox="0 0 54 41"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29.992 10.432C29.992 7.28067 31.0243 4.78134 33.089 2.934C35.1537 0.977999 37.7617 0 40.913 0C44.7163 0 47.8133 1.24967 50.204 3.749C52.7033 6.24833 53.953 9.83433 53.953 14.507C53.953 19.5057 52.486 24.45 49.552 29.34C46.7267 34.1213 42.706 37.9247 37.49 40.75L33.741 35.045C36.5663 33.089 38.794 30.9157 40.424 28.525C42.1627 26.1343 43.3037 23.3633 43.847 20.212C42.869 20.6467 41.728 20.864 40.424 20.864C37.3813 20.864 34.882 19.886 32.926 17.93C30.97 15.974 29.992 13.4747 29.992 10.432ZM0 10.432C0 7.28067 1.03233 4.78134 3.097 2.934C5.16167 0.977999 7.76967 0 10.921 0C14.7243 0 17.8213 1.24967 20.212 3.749C22.7113 6.24833 23.961 9.83433 23.961 14.507C23.961 19.5057 22.494 24.45 19.56 29.34C16.7347 34.1213 12.714 37.9247 7.498 40.75L3.749 35.045C6.57433 33.089 8.802 30.9157 10.432 28.525C12.1707 26.1343 13.3117 23.3633 13.855 20.212C12.877 20.6467 11.736 20.864 10.432 20.864C7.38933 20.864 4.89 19.886 2.934 17.93C0.978 15.974 0 13.4747 0 10.432Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="bg-gray-50 dark:bg-foreground rounded-lg p-5 relative overflow-hidden"
            >
              <div
                class="w-20 h-20 rounded-full dark:bg-background bg-gray-100 absolute -right-4 -top-4"
              ></div>
              <div class="flex items-center mb-9">
                <img
                  class="w-16 h-16 border-2 border-white rounded-lg mr-6"
                  src="img/faces/10.jpg"
                  alt=""
                />
                <div>
                  <h5
                    class="text-sm text-gray-700 dark:text-gray-100 font-medium mb-1"
                  >
                    Gage Paquette
                  </h5>
                  <p class="text-sm text-gray-500 dark:text-gray-400">
                    Australia
                  </p>
                </div>
              </div>
              <p
                class="text-sm text-gray-500 dark:text-gray-500 leading-[24px]"
              >
                Nation yet I century way of the into he gone day time. And
                installer. To pity the left didn't doubting as for
                recommendation up omens, the place were coffee shut for the on
                anyone but it noise not has eye.
              </p>
              <div class="flex justify-end mt-5">
                <svg
                  class="text-gray-100 dark:text-background"
                  width="54"
                  height="41"
                  viewBox="0 0 54 41"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29.992 10.432C29.992 7.28067 31.0243 4.78134 33.089 2.934C35.1537 0.977999 37.7617 0 40.913 0C44.7163 0 47.8133 1.24967 50.204 3.749C52.7033 6.24833 53.953 9.83433 53.953 14.507C53.953 19.5057 52.486 24.45 49.552 29.34C46.7267 34.1213 42.706 37.9247 37.49 40.75L33.741 35.045C36.5663 33.089 38.794 30.9157 40.424 28.525C42.1627 26.1343 43.3037 23.3633 43.847 20.212C42.869 20.6467 41.728 20.864 40.424 20.864C37.3813 20.864 34.882 19.886 32.926 17.93C30.97 15.974 29.992 13.4747 29.992 10.432ZM0 10.432C0 7.28067 1.03233 4.78134 3.097 2.934C5.16167 0.977999 7.76967 0 10.921 0C14.7243 0 17.8213 1.24967 20.212 3.749C22.7113 6.24833 23.961 9.83433 23.961 14.507C23.961 19.5057 22.494 24.45 19.56 29.34C16.7347 34.1213 12.714 37.9247 7.498 40.75L3.749 35.045C6.57433 33.089 8.802 30.9157 10.432 28.525C12.1707 26.1343 13.3117 23.3633 13.855 20.212C12.877 20.6467 11.736 20.864 10.432 20.864C7.38933 20.864 4.89 19.886 2.934 17.93C0.978 15.974 0 13.4747 0 10.432Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-aos="fade-up" data-aos-duration="800">
            <div
              class="bg-gray-50 dark:bg-foreground rounded-lg p-5 relative overflow-hidden"
            >
              <div
                class="w-20 h-20 rounded-full dark:bg-background bg-gray-100 absolute -right-4 -top-4"
              ></div>
              <div class="flex items-center mb-9">
                <img
                  class="w-16 h-16 border-2 border-white rounded-lg mr-6"
                  src="img/faces/10.jpg"
                  alt=""
                />
                <div>
                  <h5
                    class="text-sm text-gray-700 dark:text-gray-100 font-medium mb-1"
                  >
                    Gage Paquette
                  </h5>
                  <p class="text-sm text-gray-500 dark:text-gray-400">
                    Australia
                  </p>
                </div>
              </div>
              <p
                class="text-sm text-gray-500 dark:text-gray-500 leading-[24px]"
              >
                Nation yet I century way of the into he gone day time. And
                installer. To pity the left didn't doubting as for
                recommendation up omens, the place were coffee shut for the on
                anyone but it noise not has eye.
              </p>
              <div class="flex justify-end mt-5">
                <svg
                  class="text-gray-100 dark:text-background"
                  width="54"
                  height="41"
                  viewBox="0 0 54 41"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M29.992 10.432C29.992 7.28067 31.0243 4.78134 33.089 2.934C35.1537 0.977999 37.7617 0 40.913 0C44.7163 0 47.8133 1.24967 50.204 3.749C52.7033 6.24833 53.953 9.83433 53.953 14.507C53.953 19.5057 52.486 24.45 49.552 29.34C46.7267 34.1213 42.706 37.9247 37.49 40.75L33.741 35.045C36.5663 33.089 38.794 30.9157 40.424 28.525C42.1627 26.1343 43.3037 23.3633 43.847 20.212C42.869 20.6467 41.728 20.864 40.424 20.864C37.3813 20.864 34.882 19.886 32.926 17.93C30.97 15.974 29.992 13.4747 29.992 10.432ZM0 10.432C0 7.28067 1.03233 4.78134 3.097 2.934C5.16167 0.977999 7.76967 0 10.921 0C14.7243 0 17.8213 1.24967 20.212 3.749C22.7113 6.24833 23.961 9.83433 23.961 14.507C23.961 19.5057 22.494 24.45 19.56 29.34C16.7347 34.1213 12.714 37.9247 7.498 40.75L3.749 35.045C6.57433 33.089 8.802 30.9157 10.432 28.525C12.1707 26.1343 13.3117 23.3633 13.855 20.212C12.877 20.6467 11.736 20.864 10.432 20.864C7.38933 20.864 4.89 19.886 2.934 17.93C0.978 15.974 0 13.4747 0 10.432Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
      </div>
    </div>
    <div class="relative w-24 mx-auto mt-10"></div>
  </div>
</section>
